<div class="modal d-block" tabindex="-1" style="background: rgba(0, 0, 0, 0.5)">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Data Collection Notice</h5>
      </div>
      <div class="modal-body">
        <p>
          By using Undertale, you acknowledge that your interactions with this system, including
          inputs submitted and outputs received, may be collected and used for future model training
          and research purposes.
        </p>
        <p>
          Feedback you provide (ratings and comments) will also be collected and used to improve
          model quality.
        </p>
        <p>
          This system is intended for research and evaluation purposes only. Do not submit sensitive
          or confidential information.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="dismiss()">I Understand</button>
      </div>
    </div>
  </div>
</div>
