export SBATCH_PARTITION=slurm-gpu-partition
export SBATCH_GRES=gpu:h100:2

export SHARE=/path/to/slow/network/share
export LOCAL=/path/to/fast/node/local/storage

export UNDERTALE_CACHE=$LOCAL/undertale
export HF_HOME=$LOCAL/huggingface
export TMPDIR=$LOCAL/tmp
